<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<groups>
		<run>
			<include name="sanity"/>
			<exclude name="functional"/>
		</run>
	</groups>
    <classes>
      <class name="GroupingConceptinTestNG.GroupingLogin"/>
      <class name="GroupingConceptinTestNG.GroupingSignUp"/>
      <class name="GroupingConceptinTestNG.GroupingPayment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
