<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TesTNGListeners.ListenersClass"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TesTNGListeners.TestCaseClass"/>
      <class name="TesTNGListeners.ListenersClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
